<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Генератор случайных чисел</title>
    {% if user.is_authenticated %}
        <p>Имя пользователя: {{ user.username }}!</p>
        <p><a href="{% url 'history' %}">Прошлые генерации</a></p>
      {% endif %}
</head>

<body>
<form action = "" method="post">
{% csrf_token %}
<label for="leftNum">Левая граница: </label>
<input id="leftNum" type="number" name="leftNum" maxlength="100" required>
<label for="rightNum">Правая граница: </label>
<input id="rightNum" type="number" name="rightNum" maxlength="100" required>

<label for="countNum">Количество чисел: </label>
<input id="countNum" type="number" name="countNum" maxlength="100" required>

<input type="Submit" name="submit" value="Генерировать"/>

</form>

{% if submitbutton == "Генерировать" %}

<h1>Левая граница: {{leftNum}}</h1>
<h1>Правая граница: {{ rightNum }}</h1>
<h1>Количество чисел: {{ countNum }}</h1>
<h1>Результат: {{ rez }} </h1>

{% endif %}

<p><a href="{% url 'logout' %}">Выйти</a></p>
</body>
</html>